@import './header.scss';
@import './slider.scss';
@import './table.scss';
@import './about.scss';

.main-wrapper {
    position: relative;

    &__bg-img {
        position: absolute;
        top: 0;
        left:0;
        right: 0;
        bottom: 0;
        width: 100%;
        opacity: 0.4;
        z-index: -1;
    }
}
