{% extends 'main/base.html' %}
{% load static %}
	
{% block content %}

    
<div class="container">
    <div class="about-wrapper">
      <h1 class="text-center mb-5">О проекте</h1>
    </div>
    <div>
      В группе студентов каждый выполнил некоторую работу, которые другие могут оценить в баллах от 0 до 5. Создать приложение для взаимного оценивания работ. На форме в выпадающем списке выбираются имя кто оценивает и имя кого оценивают. В поле ввода указывается балл, по кнопке «Оценить» данные сохраняются. В таблице со списком стyдентов отображается число оценок и суммарный балл. Данные хранятся в памяти (14 баллов), в localStorage (17), на сервере (20). Список студентов вводится в начале работы приложения (+5 баллов).
    </div>
  </div>



{% endblock %}