{% extends 'main/base.html' %}
{% load static %}
	
{% block content %}


<div class="container">
    <div class="table-wrapper">
      <h1 class="text-center mb-5">Таблица</h1>
      
      <button type="button" class="btn btn-primary mb-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Добавить запись
      </button>

      <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>ФИО</th>
                <th>Год поступления</th>
                <th>Факультет</th>
                <th>Направление подготовки</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for table in tables %}
            <tr>
                <td>{{ table.name }}</td>
                <td>{{ table.year }}</td>
                <td>{{ table.faculty }}</td>
                <td>{{ table.direction }}</td>
                <td>{{ table.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}  