{% extends 'main/base.html' %}
{% load static %}
	
{% block content %}


<div class="container">
    <div class="table-wrapper">
      <h1 class="text-center mb-5">Таблица студентов</h1>
      <p class="text-center">Выберите студента, которого хотите оценить, и нажмите на его ФИО.</p>
      
      <button type="button" class="btn btn-primary mb-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Добавить запись
      </button>

      <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>ФИО</th>
                <th>Год поступления</th>
                <th>Факультет</th>
                <th>Группа</th>
                <th>Email</th>
                {% comment %} <th>Действия</th> {% endcomment %}
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td><a href="{% url 'student_detail' student.id %}">{{ student.name }}</a></td>
                <td>{{ student.year }}</td>
                <td>{{ student.faculty }}</td>
                <td>{{ student.direction }}</td>
                <td>{{ student.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}  