<!-- Modal -->
<div class="modal fade"
     id="exampleModal"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Добавление записи</h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'add_table' %}">
          {% csrf_token %}
          <div class="mb-3">
            <label for="name" class="form-label">Имя</label>
            <input type="text" class="form-control" id="name" name="name" required>
          </div>
          <div class="mb-3">
            <label for="year" class="form-label">Год</label>
            <input type="text" class="form-control" id="year" name="year" required>
          </div>
          <div class="mb-3">
            <label for="faculty" class="form-label">Факультет</label>
            <input type="text" class="form-control" id="faculty" name="faculty" required>
          </div>
          <div class="mb-3">
            <label for="direction" class="form-label">Группа</label>
            <input type="text"
                   class="form-control"
                   id="direction"
                   name="direction"
                   required>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            <button type="submit" class="btn btn-primary">Записать</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
